
<h2 class="books-title">{{title}}</h2>
<div class="books-container">
    <div class="book-card" *ngFor="let book of filteredBooks">
      <img [src]="book.imageUrl" alt="{{ book.title }}" class="book-image">
      <div class="book-details">
        <h3 class="book-title">{{ book.title }}</h3>
        <p class="book-author">{{ book.author }}</p>
        <p class="book-genre">{{ book.genre }}</p>
        <!-- <p class="book-description">{{ book.description }}</p> -->
        <button class="read-now-button" (click)="add()">Read Now</button>
        <button class="read-now-button" (click)="add()">Add to your library</button>
      </div>
    </div>
  </div>

  