<br>
<div class="container">   
    <h1 class="pwd">Forgot Password</h1>
    <form class="forgotpwdform">
        <div id="unError" class="usernameError" *ngIf="usernameError!=''">{{usernameError}}
            <span class="close-btn" (click)="clearUsernameError()">x</span>
        </div>
        <label class="UN">Username*   </label>
        <input type="email" id="username" name="username" [(ngModel)]="username" (input)="clearError()"> 
        <div id="unError" class="error">{{unError}}</div>
        <label class="PWD"> New Password*   </label>
        <input type="password" id="password" name="password" [(ngModel)]="password" (input)="clearPwdError()">
        <div id="pwdError1" class="error" [innerHTML]="pwdError">{{pwdError}}</div>
        <label class="PWD"> Confirm Password*  </label>
        <input type="password" id="conpassword" [(ngModel)]="conpwd" name="conpwd" (input)="clearConPwdError()">
        <div id="pwdError2" class="error">{{pwdError2}}</div>
        <br>
        <button type="submit" class="sub" (click)="changePwd()">Change Password</button>
        <br>
    </form>
</div>
<br>