<br>
<div class="container">
    <h1>Register</h1>
    <form  class="register">
        <label>Full Name</label>
        <input id="name" type="text" name="name" [(ngModel)]="name" (input)="clearNameError()">
        <div id="nameError" class="error-message">{{nameError}}</div>
        <label>Email</label>
        <input id="username" type="email" name="username" [(ngModel)]="username" (input)="clearUsernameError()">
        <div id="usernameError" class="error-message">{{usernameError}}</div>
        <label>Gender</label>
        <input id="gender" type="text" name="gender" [(ngModel)]="gender" (input)="clearGenderError()">
        <div id="genderError" class="error-message">{{genderError}}</div>
        <label>Password</label>
        <input id="password" type="password" name="password" [(ngModel)]="password" (input)="clearPwdError()">
        <div id="pwdError" class="error-message">{{pwdError}}</div>
        <label>Confirm Password</label>
        <input id="confirm" type="password" name="conpwd" [(ngModel)]="conpwd" (input)="clearConPwdError()">
        <div id="conpwdError" class="error-message">{{conpwdError}}</div>
        <label>Phone Number</label>
        <input id="phone" type="tel" name="phone" [(ngModel)]="phone" (input)="clearPhoneError()">
        <div id="phoneError" class="error-message">{{phoneError}}</div>
        <label>Address</label>
        <input id="address" type="text" name="address" [(ngModel)]="address">
        <br>
        <button type="submit" class="submit" (click)="onSubmit()">Submit</button>
        <p style="font-weight: bolder;color: grey;margin-left: 30px;">----------- <b style="color: black;">OR SIGNUP WITH</b> ----------</p>
        <!-- <br> -->
        <div class="google">
            <a href="https://accounts.google.com"><img [src]="google">GOOGLE</a>
        </div>
        <br>
        <div class="facebook">
            <a href="https://www.facebook.com/"><img [src]="facebook">FACEBOOK</a>
        </div>
        <br>
    </form>
</div>
<br>